$annotated-text--default-theme: (

);

$annotated-text-annotation-colors: (
    "1": #f51720,
    "2": #008d7c,
    "3": #ffbc05,
    "4": #8aff05,
    "5": #ff7ec3,
    "6": #05d1ff,
    "7": #6200d1,
    "8": #424600,
    "9": #613900,
);

.annotated-text {

    .gutter {
        user-select: none;
    }

    .content > span {
        display: inline-block;
        position: relative;
    }

    .content span {
        white-space: pre;
    }

    .line-part .text {
        position: relative;
        z-index: 2000;
    }
    
    .annotation {
        cursor: pointer;
        label {
            cursor: pointer;
        }
    }

    &.annotated-text--render-nested.theme-default {


        // calculate line-part height
        @for $weight from 0 to 9 {
            .line-part--m#{$weight} {
                margin-bottom: calc(3px + ($weight + 1)*3px)
            }
        }
                
        .annotation {
            position: relative;

            label {
                display: none;
                background: white;
                font-size: 60%;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 3px;
                padding: 1px 2px;
                position: relative;
                z-index: 2000;
                top: -2px;
                margin: 0 2px;
                user-select: none;
            }
        }

        .annotation--start::before {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .annotation--end::before {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        @for $weight from 0 to 9 {
            .annotation--w#{$weight}::before {
                top: (-2px*($weight+1));
                height: calc(1.1rem + calc(2px*2*($weight + 1)));
                z-index: calc(1010 - $weight);
                position: absolute;
                content: '';
                background: rgb(255, 0, 0, 0.3);
                width: 100%;
                // height: 1.1rem;
            }
        }

        @each $name, $color in $annotated-text-annotation-colors {
            .annotation--color-#{$name}::before {
                background: rgba($color, 0.3);
            }
        }

        &.annotated-text--show-labels .annotation--end > label {
            display: inline-block;
        }
    }

    &.annotated-text--render-flat.theme-default {

        // calculate line-part height
        @for $weight from 0 to 9 {
            .line-part--m#{$weight} {
                margin-bottom: calc(4px + ($weight + 1)*4px)
            }
        }

        &.annotated-text--show-labels {
            @for $weight from 0 to 9 {
                .line-part--m#{$weight} {
                    margin-bottom: calc(4px + ($weight + 1)*12px)
                }
            }
        }

        
        .annotation {
            position: absolute;
            left: 0px;
            width: calc(100% + 0px);
            height: 3px;
            background: rgb(255, 0, 0);

            label {
                display: none;
                position: absolute;
                font-family: Arial, Helvetica, sans-serif;
                left: 0;
                font-size: 60%;
                padding: 1px 2px;
                color: white;
                background: rgb(255, 0, 0);
                user-select: none;
            } 
        }

        &.annotated-text--show-labels {
            .annotation.annotation--start label {
                display: block;
            }
        }

        .annotation--start {
            left: -1px;
            width: calc(100% + 1px);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .annotation--end {
            right: -1px;
            width: calc(100% + 1px);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;            
        }        

        @for $weight from 0 to 9 {
            .annotation--w#{$weight} {
                top: calc(18px + 4px*$weight);
                z-index: calc(10 + $weight);
            }

            &.annotated-text--show-labels .annotation--w#{$weight} {
                top: calc(18px + 12px*$weight);
            }

        }

        @each $name, $color in $annotated-text-annotation-colors {
            .annotation--color-#{$name} {
                background: $color;
                label {
                    background: $color;
                }
            }
        }
    }
    
}

